@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

fieldset {
  margin: 50px 0;
  border-radius: 5px;
}

a {
  margin: 0 10px;
  color: black;
}

/* pseudo class */
a:hover {
  text-decoration: none;
}

nav {
  padding: 5px 20px;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  z-index: 100;
}

/* descendant selector */
/* specificity */
.content header {
  color: cornflowerblue;
}

header {
  color: chocolate;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 0 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
}

/* text styling */
#random {
  font-size: 2em;
  font-weight: 700;
  color: cadetblue;
  text-decoration: underline;
  text-decoration-color: aquamarine;
  text-decoration-style: dotted;
  text-decoration-thickness: 5px;
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
  text-shadow: thistle 4px 4px;
  background: linear-gradient(0deg, black 20%, gray);
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 10px;
}

#paragraph {
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 25px;
}

/* descendant selector */
div span {
  font-size: 0.8em;
  color: crimson;
}

/* child selector */
div > span {
  color: darkgreen;
  font-size: 20px;
  font-weight: 600;
}

/* adjacent child selector */
.selector p + .selector span {
  color: darkcyan;
}

/* general sibling selector */
p ~ span {
  color: darkslateblue;
}

.content {
  padding: 10px 30px 40px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
}

video {
  width: 350px;
  margin-left: 20px;
}

.position {
  display: flex;
  gap: 10px;
  margin: 20px;
  position: relative;
}

.position div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.position .two {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth, .ninth {
  padding: 10px;
  border: 1px solid black;
}

.tenth {
  padding: 10px;
  position: absolute;
  top: 500px;
  left: 300px;
  border: 1px solid black;
}

footer {
  border-top: 2px solid black;
  padding: 10px 30px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
